.mas-berrugues {
  $base-color: #C19B76;
  $font-family: 'Roboto Condensed';
  $text-transform: uppercase;
  @include style($base-color, $font-family, $text-transform);
}

.by-gm {
  $base-color: #bf9d70;
  $font-family: 'Hind';
  $text-transform: uppercase;
  @include style($base-color, $font-family, $text-transform);
}

.la-bella-vista {
  $base-color: #D35B25;
  $font-family: 'Handlee';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}

.cocon-matignon {
  $base-color: #1e9695;
  $font-family: '';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}

.jardin-en-ville {
  $base-color: #545454;
  $font-family: 'Montserrat';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}

.aubonheurdezange {
  $base-color: #317A86;
  $font-family: 'Montserrat';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}

.jardin-metairie {
  $base-color: #3bb299;
  $font-family: 'Lora';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}

.les-cles-du-bonheur {
  $base-color: #45b39d;
  $font-family: 'Nunito';
  $text-transform: none;
  @include style($base-color, $font-family, $text-transform);
}
